In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

soup = BeautifulSoup(response.text, "html.parser")

tables = soup.find_all("table", class_="wikitable")

target_table = tables[0]

In [3]:
df = pd.read_html(StringIO(str(target_table)))[0]

print(df.head())

   Rank                Name                    Industry  \
0     1             Walmart                      Retail
1     2              Amazon  Retail and cloud computing
2     3  UnitedHealth Group                  Healthcare
3     4               Apple                  Technology
4     5          CVS Health                  Healthcare

   Revenue (USD millions) Revenue growth  Employees              Headquarters
0                  680985           5.1%    2100000     Bentonville, Arkansas
1                  637959          11.0%    1556000       Seattle, Washington
2                  400278           7.7%     400000     Minnetonka, Minnesota
3                  391035           2.0%     164000     Cupertino, California
4                  372809           4.2%     259500  Woonsocket, Rhode Island

In [7]:
df.to_csv("Companies.csv", index=False)